PORT=4000
# NODE_ENV=development
NODE_ENV=production
MONGODB_ATLAS_URI=your-mongodb-atlas-uri-here
CORS_ORIGIN=http://localhost:3000

# Email configuration
EMAIL_FROM=your-email@example.com
BREVO_API_KEY=you-should-use-your-own-api-key-here

# JWT configuration
JWT_SECRET=PDaXltAi5uleH3DAdlNfTMrtinbuGxBL00ASAQhbXM4
JWT_EXPIRES_IN=1d

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=tXqGYskrcrUgwkqVSucVrVCx340UZHSRbKVcUXOecxP